* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Cursed Timer';
  src: url('fonts/CursedTimerUlil-Aznm.ttf');
}

h2 {
  font-family: 'Segoe UI', sans-serif;
  font-size: 2.5rem;
  color: #eeeeee;
}

span {
  font-family: 'Cursed Timer';
  color: #f94f6d;
  font-size: 5rem;
}

.container {
  background-color: #1b244a;
  display: flex;
  flex-direction: column;
  width: 575px;
  height: 385px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 80px auto 0 auto;
}

.wrapper {
  display: flex;
  width: 420px;
  height: 260px;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  margin: 0;
}

.home-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.guest-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.home-side h2,
.guest-side h2 {
  margin-bottom: 15px;
}

.home-score,
.guest-score {
  background-color: #000;
  width: 155px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.home-score > span,
.guest-score > span {
  margin-top: 15px;
}

.home-buttons,
.guest-buttons {
  width: 155px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.home-buttons > button,
.guest-buttons > button {
  background-color: #1b244a;
  font-family: 'Cursed Timer';
  font-size: 1.2rem;
  color: #9aabd8;
  width: 45px;
  height: 45px;
  padding: 4px 0 0 0;
  border: 2px solid #9aabd8;
  border-radius: 5px;
}

.reset-all-button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding-top: 20px;
}

.reset-all-button > button {
  background-color: #1b244a;
  font-family: 'Cursed Timer';
  font-size: 1.2rem;
  color: #9aabd8;
  width: 80px;
  height: 45px;
  padding-top: 4px;
  border: 2px solid #9aabd8;
  border-radius: 5px;
}
